* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	background-image: url(background.jpg);
	background-repeat: no-repeat;
	background-size: cover;
}

.main {
	color: #fff;
	display: flex;
	align-items: center;
	justify-content: space-evenly;
	font-family: "Merriweather Sans", sans-serif;
}

.header {
	font-family: "Merriweather", serif;
	font-size: 3vh;
	display: flex;
	flex-direction: column;
	align-items: end;
	text-align: center;
	padding: 40px 20px;
}

.header h1 {
	-webkit-background-clip: text;
	background-clip: text;
	-webkit-text-fill-color: transparent;
	font-weight: bold;
	background-image: linear-gradient(
		235deg,
		#ede0d4,
		#e6b8a2,
		#e6ccb2,
		#ddb892,
		#7f5539,
		#9c6644,
		#9c6644,
		#7f5539,
		#ddb892,
		#e6ccb2,
		#e6b8a2,
		#ede0d4
	);

	background-size: 200%, auto;
	animation: wave 10s linear infinite;
}

@keyframes wave {
	0% {
		background-position: 0 0;
	}
	100% {
		background-position: 200% 200%;
	}
}

.header a {
	/* float: right; */
	font-size: 1.5vh;
	padding: 0px;
	text-decoration: none;
	color: #fff;
}

.container {
	padding: 40px 20px;
}

.card1,
.card3 {
	backdrop-filter: blur(10px);
	background: rgba(0, 0, 0, 0.4);
	border: 1px solid black;
	margin-bottom: 30px;
	padding: 30px;
}

.card3 {
	margin-bottom: 0;
}

.card2 {
	display: flex;
	justify-content: space-evenly;
	gap: 10px;
}

.emailBox > h3 {
	text-align: center;
	margin-bottom: 7px;
	font-weight: 100;
}

.emailBox span {
	font-weight: 900;
	margin-left: 5px;
	color: #febe10;
	font-family: "Orbitron", sans-serif;
}

.scrollbox {
	height: 175px;
	min-width: 300px;
	width: fit-content;
	overflow: auto;
}

.card3 form {
	display: flex;
	flex-direction: column;
}

/* -----------------Card 1 Component----------------- */

.card1 input[type="file"] {
	display: none;
}

.card1 label {
	color: #000;
	margin: auto;
	display: block;
	width: fit-content;
	padding: 10px 40px;
	border-radius: 80px;
	transition: all 0.1s;
	letter-spacing: 1px;
	text-transform: uppercase;
	background: #ffd700;
	box-shadow: 4px 4px 1px #cf9c12;
}

.card1 label:active {
	box-shadow: 0 0 0;
	transform: translateX(4px) translateY(4px);
}

label i {
	margin-right: 10px;
}

/* -------------------Card 2--------------------- */

.card2 .validEmail {
	background: rgba(0, 0, 0, 0.4);
	border: 1px solid black;
	margin-bottom: 30px;
	padding: 30px;
	backdrop-filter: blur(10px);
}

.card2 .invalidEmail {
	background: rgba(0, 0, 0, 0.4);
	border: 1px solid black;
	margin-bottom: 30px;
	padding: 30px;
	backdrop-filter: blur(10px);
}

.scrollbox::-webkit-scrollbar-track {
	box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
	border-radius: 10px;
}

.scrollbox::-webkit-scrollbar {
	width: 5px;
}

.scrollbox::-webkit-scrollbar-thumb {
	border-radius: 10px;
	box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
	background-color: #febe10;
}

/* -------------------Card 3-------------------- */

form h3 {
	margin-bottom: 16px;
	text-align: center;
	letter-spacing: 1px;
}

.params {
	color: #fff;
	padding: 10px;
	margin-bottom: 10px;
	background: transparent;
	border: 0;
	border-bottom: 1px solid;
	font-family: "Merriweather Sans", sans-serif;
	transition: all 0.5s;
}

.params:focus {
	outline: none;
}

.params:valid:not(#subject) {
	border-bottom: 1px solid #089404;
}

.params:invalid {
	border-bottom: 1px solid #fb4d4d;
	animation: vibrate 0.2s linear;
}

@keyframes vibrate {
	0% {
		transform: translateX(0);
	}
	25% {
		transform: translateX(-4px);
	}
	50% {
		transform: translateX(4px);
	}
	75% {
		transform: translateX(-4px);
	}
	100% {
		transform: translateX(0);
	}
}

form textarea {
	resize: none;
}

form p {
	font-size: 10px;
	letter-spacing: 1px;
	animation: blink 2.3s linear infinite;
}

@keyframes blink {
	from,
	to {
		color: transparent;
	}
	50% {
		color: rgb(255, 255, 255);
	}
}

form p span {
	color: #fb4d4d;
	font-size: 15px;
}

form button {
	width: fit-content;
	padding: 10px 30px;
	margin: auto;
	font-size: 14px;
	margin-top: 10px;
	border-radius: 80px;
	transition: all 0.1s;
	letter-spacing: 1px;
	border: 0;
	/* color: #fff; */
	text-transform: uppercase;
	background: #69e765;
	box-shadow: 4px 4px 1px #218c1d;
	font-family: "Merriweather Sans", sans-serif;
}

form button:active {
	box-shadow: 0 0 0;
	transform: translateX(4px) translateY(4px);
}

i {
	margin-right: 10px;
}

/* -----------Responsive Design----------- */

@media only screen and (max-width: 820px) {
	.main {
		display: block;
	}

	.header {
		font-size: 2.5vh;
		padding: 20px;
		align-items: center;
	}

	.container {
		padding: 20px;
	}

	.card2 {
		display: block;
	}

	.card2 .scrollbox {
		width: 100%;
	}
}
