* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.main {
    height: 100vh;
    width: 100%;
    padding: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.header {
    font-family: 'Merriweather', serif;
    font-size: 3vh;
    text-align: center;
    padding: 20px;
}

.container {
    padding: 20px;
}

.card1, .card2, .card3 {
    border: 1px solid black;
    margin-bottom: 30px;
    padding: 30px 20px;
    /* width: 60vh; */
}

.card1 {
    text-align: center;
}

.card2 {
    display: flex;
    justify-content: space-evenly;
}

.card2 .validEmail {
    height: 100px;
    width: 300px;
    overflow: auto;
}

.card2 .invalidEmail {
    height: 100px;
    width: 300px;
    overflow: auto;
}

.card3 form {
    display: flex;
    flex-direction: column;
}