* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	height: 100%;
	width: 100%;
	overflow-x: hidden;
}

.main {
	color: #fff;
	display: flex;
	align-items: center;
	justify-content: space-evenly;
	font-family: "Merriweather Sans", sans-serif;
	background: linear-gradient(#04619f, #000000);
}

.header {
	font-family: "Merriweather", serif;
	font-size: 3vh;
	text-align: center;
	padding: 40px 20px;
}

.container {
	padding: 40px 20px;
}

.card1,
.card3 {
	/* background: transparent; */
	background: rgba(0, 0, 0, 0.4);
	border: 1px solid black;
	margin-bottom: 30px;
	padding: 30px;
}

.card3 {
	margin-bottom: 0;
}

.card2 {
	display: flex;
	justify-content: space-evenly;
	gap: 10px;
}

.emailBox > h3 {
	text-align: center;
	margin-bottom: 7px;
	font-weight: 100;
}

.emailBox span {
	font-weight: 900;
	margin-left: 5px;
	color: #febe10;
	font-family: "Orbitron", sans-serif;
}

.scrollbox {
	height: 175px;
	min-width: 300px;
	width: fit-content;
	overflow: auto;
}

.card3 form {
	display: flex;
	flex-direction: column;
}

/* -----------------Card 1 Component----------------- */

.card1 input[type="file"] {
	display: none;
}

.card1 label {
	color: #000;
	margin: auto;
	display: block;
	width: fit-content;
	padding: 10px 40px;
	border-radius: 80px;
	transition: all 0.1s;
	letter-spacing: 1px;
	text-transform: uppercase;
	background: #ffd700;
	box-shadow: 4px 4px 1px #febe10;
}

.card1 label:active {
	box-shadow: 0 0 0;
	transform: translateX(4px) translateY(4px);
}

label i {
	margin-right: 10px;
}

/* -------------------Card 2--------------------- */

.card2 .validEmail {
	background: rgba(0, 0, 0, 0.4);
	border: 1px solid black;
	margin-bottom: 30px;
	padding: 30px;
}

.card2 .invalidEmail {
	background: rgba(0, 0, 0, 0.4);
	border: 1px solid black;
	margin-bottom: 30px;
	padding: 30px;
}

.scrollbox::-webkit-scrollbar-track {
	box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
	border-radius: 10px;
}

.scrollbox::-webkit-scrollbar {
	width: 5px;
}

.scrollbox::-webkit-scrollbar-thumb {
	border-radius: 10px;
	box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
	background-color: #febe10;
}

/* --------------Card 3----------------- */

form h3 {
	margin-bottom: 16px;
	text-align: center;
	letter-spacing: 1px;
}

.params {
	color: #fff;
	padding: 10px;
	margin-bottom: 10px;
	background: transparent;
	border: 0;
	border-bottom: 1px solid;
	font-family: "Merriweather Sans", sans-serif;
	transition: all 0.5s;
}

.params:focus {
	outline: none;
}

.params:valid:not(#subject) {
	border-bottom: 1px solid #089404;
}

.params:focus:invalid {
	border-bottom: 1px solid #fb4d4d;
}

form textarea {
	resize: none;
}

form button {
	width: fit-content;
	padding: 10px 30px;
	margin: auto;
	font-size: 14px;
	margin-top: 10px;
	border-radius: 80px;
	transition: all 0.1s;
	letter-spacing: 1px;
	border: 0;
	color: #fff;
	text-transform: uppercase;
	background: rgb(57, 57, 253);
	box-shadow: 4px 4px 1px rgb(18, 18, 131);
	font-family: "Merriweather Sans", sans-serif;
}

form button:active {
	box-shadow: 0 0 0;
	transform: translateX(4px) translateY(4px);
}

i {
	margin-right: 10px;
}
